<%
var title = '';
if (page.category) title = page.category;
if (page.tag) title = page.tag;
if (page.archive){
  if (page.year) title = page.year + (page.month ? '/' + page.month : '');
  else title = __('archive_a');
}
%>

<article>

  <div class="article-title <% if (page.tag){ %> tag<% } else if (page.category){ %> category<% } %>"><%= title %></div>

  <div class="archive">
    <% page.posts.each(function(item){ %>
      <li>
        <div class="<%= item.layout %> archive">
          <div class="archive-post">
            <time datetime="<%= item.date.toDate().toISOString() %>">
              <%= item.date.format(config.date_format) %>
            </time>
            <% if (item.link){ %>
              <% if (item.title){ %>
              <span class="archive-title"><a href="<%- item.link %>" target="_blank"><span><%= item.title %></span></a></span>
              <% } else { %>
              <span class="archive-title"><a href="<%- item.link %>" target="_blank"><span><%= item.link %></span></a></span>
              <% } %>
            <% } else { %>
              <span class="archive-title"><a href="<%- config.root %><%- item.path %>"><span><%= item.title %></span></a></span>
            <% } %>
          </div>
        </div>
      </li>
    <% }); %>
    <%- partial('pagination') %>
  </div>

</article>
