<article>

  <% if (item.link){ %>
    <% if (item.title){ %>
    <h3 class="article-title"><a href="<%- item.link %>" target="_blank"><span><%= item.title %></span></a></h3>
    <% } else { %>
    <h3 class="article-title"><a href="<%- item.link %>" target="_blank"><span><%= item.link %></span></a></h3>
    <% } %>
  <% } else { %>
    <% if (index){ %>
    <h3 class="article-title"><a href="<%- config.root %><%- item.path %>"><span><%= item.title %></span></a></h3>
    <% } else { %>
    <h3 class="article-title"><span><%= item.title %></span></h3>
    <% } %>
  <% } %>

  <div class="article-top-meta">
    <span class="posted-on">
        <time class="entry-date published" datetime="<%= item.date.toDate().toISOString() %>">
          <%= item.date.format(config.date_format) %>
        </time>
    </span>
  </div>

  <% if (item.photos && item.photos.length){ %>
  <div class="featured-media">
    <% if (item.photos.length && !index){ %>
    <% for (var i in item.photos) { %>
    <img src="<%- url_for(item.photos[i]) %>" class="attachment-post-thumbnail size-post-thumbnail">
    <% } %>
    <% } else if (item.photos.length && index){ %>
    <img src="<%- url_for(item.photos[0]) %>" class="attachment-post-thumbnail size-post-thumbnail">
    <% } else { %>
    <img src="<%- url_for(item.photos) %>" class="attachment-post-thumbnail size-post-thumbnail">
    <% } %>
  </div>
  <% } %>

  <div class="article-content">
    <div class="entry">
      <% if (item.excerpt && index){ %>
        <%- item.excerpt %>
        <div class="alignleft">
            <a href="<%- config.root %><%- item.path %>#more" class="more-link"><%= __('read_more') %></a>
        </div>
      <% } else { %>
        <%- item.content %>
      <% } %>
    </div>
  </div>

  <% if (!index && theme.is_donate){ %>
    <div class="article-donate">
      <div id="donate-board">
          <span class="donate-text"><%- __(theme.donate_text) %></span>
          <br>
       </div>  

      <!-- 支付宝打赏图案 -->
       <div id="donate-imgs"> 
          <div class="donate-img">
            <img src="<%- __(theme.donate['alipay']) %>" title="支付宝打赏" height="250px" width="250px">
            </a> 
          </div>  
      <!-- 微信打赏图案 -->
          <div class="donate-img">
            <img src="<%- __(theme.donate['wechat']) %>" title="微信打赏" height="250px" width="250px">
            </a> 
          </div>
        </div>
    </div>
  <% } %>

  <div class="article-footer">
    <div class="article-meta pull-left">

    <% if (item.categories && item.categories.length){ %>
      <%
        var cats = [];
        item.categories.forEach(function(cat){
            cats.push('<a href="' + config.root + cat.path + '">' + cat.name + '</a>');
        });
      %>

    <span class="post-categories">
      <i class="icon-folder-open"></i>
        <%- cats.join(', ') %>
    </span>
    <% } %>

    <% if (item.tags && item.tags.length){ %>
       <%
           var tags = [];
           item.tags.forEach(function(tag){
               tags.push('<a href="' + config.root + tag.path + '">' + tag.name + '</a>');
           });
       %>
       <span class="post-tags">
         <i class="icon-tags"></i>
           <%- tags.join('') %>
       </span>
    <% } %>

    </div>

    <% if (index && (theme.duoshuo || theme.disqus) && !item.excerpt){ %>
    <div class="article-meta pull-right">
      <span>
        <i class="icon-comment"></i>
        <span>
          <a href="<%- item.path %>#comment"><%- __('comment') %></a>
        </span>
      </span>
    </div>
    <% } %>
  </div>
</article>
<% if (!index){ %>
  <%- partial('comment') %>
<% } %>
